# Project: CRWD Survey Monkey (organized)
### Author: <font color ='blue'>Haowei Ni

### <font color='red'> Main Change: 

Recode the after_survey fuction() and create a result_table() function.

## <font color='blue'>Connect with MongoDB

In [4]:
import pandas as pd

In [5]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["runoobdb"]
mycol = mydb["sites"]
 
mydict = { "name": "RUNOOB", "alexa": "10000", "url": "https://www.runoob.com" }

In [3]:
mycol.insert_one(mydict)

In [4]:
collection_docu_list = list(mycol.find())

In [7]:
dataframe_collection = pd.DataFrame(collection_docu_list)

In [8]:
list_dic = dataframe_collection.to_dict('records')

In [9]:
list_dic

[{'_id': ObjectId('5d28980783a1681cfc93439b'),
  'alexa': '10000',
  'name': 'RUNOOB',
  'url': 'https://www.runoob.com'}]

# <font color='blue'> Import Packages

In [9]:
#import surveymonty
import requests
import json
import random
from itertools import product

import time
import datetime

import pandas as pd
import numpy as np

#### <font color='red'> most important packages <font color='black'>(includes all the functions): process_functions.py

In [10]:
from process_functions import *

# <font color='blue'> 0.0 Import & Translate Dataset

In [14]:
df=pd.read_csv('wr2.csv')

In [15]:
def splitt(str):
    return str.split('+')[-1]

In [16]:
df=pd.read_csv('wr2.csv')
df["METRIC NAME"]=df["METRIC NAME"].apply(lambda x:splitt(x))
df.to_csv('NEW_RATE.csv')
df.head(5)

   ANSWER ID   METRIC NAME COMPANY NAME  YEAR        VALUE
0  2233010.0  Gross Profit      Danaher  2012   9414300000
1  2233013.0  Gross Profit      Danaher  2015  10762500000
2  2233016.0  Gross Profit      Danaher  2014   9892600000
3  2233001.0  Gross Profit      Danaher  2011   8176600000
4  2233004.0  Gross Profit      Danaher  2010   6404500000

# <font color='blue'>1.0 Test (only sending 5 questions out)

### this is the english version survey: 
remember to use missing_value_<font color ='red'>en

In [18]:
table0 = missing_value_en(df,2017,'Telenor')
testing_dataset = table0[0] # selected
questions_list = table0[1]
recipients_df = table0[2]
testing_dataset.head()

,ANSWER ID,METRIC NAME,COMPANY NAME,YEAR,VALUE,SURVEY QUESTIONS,QUESTIONID
0,3579791.0,Fuel consumption from renewable sources (G4-EN...,Telenor,2017,Unknown,Do you have answer to Fuel consumption from re...,201723200338
1,3579834.0,Fuel consumption from non-renewable sources (G...,Telenor,2017,Unknown,Do you have answer to Fuel consumption from no...,201723200337
2,NaN,Percentage renewable fuel used,Telenor,2017,Unknown,Do you have answer to Percentage renewable fue...,201723200671
3,NaN,Renewable Energy (%),Telenor,2017,Unknown,Do you have answer to Renewable Energy (%)? If...,201723200733
4,NaN,energy is from renewable sources,Telenor,2017,Unknown,Do you have answer to energy is from renewable...,201723201094

In [19]:
len(questions_list)

27

## test with 5 questions
* Create a new testing recipients_df that contains my own email

In [20]:
testing_question = questions_list[0:5]

In [21]:
testing_question

[['open_ended',
  'Do you have answer to Fuel consumption from renewable sources (G4-EN3-b)? If yes, please specify; if no,please leave the question blank'],
 ['open_ended',
  'Do you have answer to Fuel consumption from non-renewable sources (G4-EN3-a)? If yes, please specify; if no,please leave the question blank'],
 ['open_ended',
  'Do you have answer to Percentage renewable fuel used? If yes, please specify; if no,please leave the question blank'],
 ['open_ended',
  'Do you have answer to Renewable Energy (%)? If yes, please specify; if no,please leave the question blank'],
 ['open_ended',
  'Do you have answer to energy is from renewable sources? If yes, please specify; if no,please leave the question blank']]

## Create a testing recipients_df using personal emails

In [29]:
recipients_df

                  email first_name last_name
2320  telenor@gmail.com

In [30]:
data = [['nihw009@gmail.com','Haowei','Ni']]
t_recipients_df = pd.DataFrame(data=data, columns=['email','first_name','last_name'])

In [31]:
t_recipients_df

               email first_name last_name
0  nihw009@gmail.com     Haowei        Ni

## Apply functions

In [32]:
testing_results=process('test_survey', testing_question, t_recipients_df)

survey id: 183316388
page id: 85993438
question id: 312623581
question id: 312623596
question id: 312623600
question id: 312623606
question id: 312623610
collector id: 241209044
message id: 63248056

In [33]:
result_answer=after_survey(testing_results)
result_answer

,"Do you have answer to Fuel consumption from renewable sources (G4-EN3-b)? If yes, please specify; if no,please leave the question blank","Do you have answer to Fuel consumption from non-renewable sources (G4-EN3-a)? If yes, please specify; if no,please leave the question blank","Do you have answer to Percentage renewable fuel used? If yes, please specify; if no,please leave the question blank","Do you have answer to Renewable Energy (%)? If yes, please specify; if no,please leave the question blank","Do you have answer to energy is from renewable sources? If yes, please specify; if no,please leave the question blank",collector_id,date_created,date_modified,email_address,first_name,id,ip_address,last_name,survey_id
Haowei_Ni_Response,kkkk,jkn;,jbjbb,vuvipyv,8760,241209044,2019-07-15T20:13:32+00:00,2019-07-15T20:13:45+00:00,nihw009@gmail.com,Haowei,10860897513,4.35.91.70,Ni,183316388

In [34]:
result_table = result_table(testing_dataset, result_answer, testing_question)
result_table

,SURVEY QUESTIONS,COMPANY NAME,YEAR,QUESTIONID,Haowei_Ni_Response
0,Do you have answer to Fuel consumption from no...,Telenor,2017,201723200337,jkn;
1,Do you have answer to Fuel consumption from re...,Telenor,2017,201723200338,kkkk
2,Do you have answer to Percentage renewable fue...,Telenor,2017,201723200671,jbjbb
3,Do you have answer to Renewable Energy (%)? If...,Telenor,2017,201723200733,vuvipyv
4,Do you have answer to energy is from renewable...,Telenor,2017,201723201094,8760